*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: var(--blanco);
}

:root{
    --titulo: 'Fredoka One', cursive;
    --texto: 'Didact Gothic', sans-serif;

    /***************** COLORES **********************/
    --celeste: #049DBF;
    --verde: #B0BF3C;
    --amarillo: #FFC600;
    --naranja: #F89C49;
    --piel: #F6AE91;
    --rojo: #D94748;
    --blanco: #FFFAFA;
    --negro: #181818;

    /************** TAMAÑO (OPCIONAL)*************/
    --titulo1: 24px;
    --texto1: 14px;

}


@media screen and  (min-width:37.5rem){
    
}
@media screen and  (max-width:136.5rem){
    
}
@media screen and  (max-width:192rem){
    
}