/*****PARTE DE HEADER YASMIN ANTONIO****/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Didact Gothic', sans-serif;;
}
.sect{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: auto;
    padding: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/Manchas\ 1\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_principal{
    width:97vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 73px;
    height: 73px;
}
.nav{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 1%;
}
.para_menu{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para_img{
    width: 30%;
}
.a{
    padding: 0px 16px ;
    color: #000000;
    
}

.a:hover{
    background-color: var(--amarillo);
    border-radius: 2rem;
    padding: 10px 25px 10px 25px ;
    transition: 0.8s;
}
/*PARA TELEFONO*/
@media screen and  (max-width:37.5rem){
    /*.boton{
        display: none;
    }*/
    *{
        font-size: 10px;
    }
    .menu_principal{
        margin-top: 4%;
    }
    .logo{
        width: 40px;
        height: 40px;

    }
    .para_menu{
        width: 90%;
    }
    .para_img{
        width: 10%;
    }
    .header{
        padding: 0px;
        justify-content: center;
        align-items: center;
    }
    .general{
        margin: 0px;
    }


}

