/*****PARTE DE HEADER YASMIN ANTONIO****/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    
    font-size: 17px;
    font-family: 'Didact Gothic', sans-serif;;
}
.sect{
    width: 100%;
    height: 350px;
}
.header{
    width: 100%;
    height: 10rem;
    padding: 16px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.general{
    width:97vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 73px;
    height: 73px;
    margin: 0;

}
.nav{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 1%;
}
.para_menu{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para_img{
    width: 30%;
}
.a{
    padding: 0px 16px ;
    color: #000000;
    
}

.a:hover{
    background-color: var(--amarillo);
    border-radius: 2rem;
    padding: 10px 25px 10px 25px ;
    transition: 0.8s;
}

/*@media screen and  (min-width:37.5rem){
    .boton{
        display: none;
    }
    .nav{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: 83rem;
        margin-top: -6rem;
        align-items: center;
    }
}*/
