
/**IMAGEN INICIAL EN HOME*/
body{
    background-image: url(https://drive.google.com/file/d/1COseRRip3WZkeKX19x8U_AbOSczrjo1N/view?usp=sharing);
}
.cocina{
    margin-left: 515px;
    margin-top: 50px;
    position: static;
}
.vector{
    width: 100%;
}
.titulo1{
    font-family: 'Fredoka One', cursive;
    font-size: 80px;
    margin-top: -60rem;
    margin-left: 5rem;
}
