/**IMAGEN INICIAL EN HOME*/
body{
    max-width: 1920px;
    margin: auto;
}
.vector{
    width: 100%;
    height: auto;
    padding: 0px 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.el-titulo{
    width: 50%;
    height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.la-img{
    width: 50%;
    height: 65rem;
    display: flex;
    padding-top: 4%;
    justify-content: center;
    align-items: center;
}
.titulo1{
    font-family: 'Fredoka One', cursive;
    font-size: 85px;
}
.cocina{
    width: 100%;
}

@media screen and  (max-width:37.5rem){

.sect .vector{
    padding-left: 8.2rem;

}
.vector{
        width: 100%;
        height: 400px;
}
.titulo1{
    display: none;   
}
.la-img{
    width: 1300rem;
    height: 100%;
    margin-left: -20%;
}
.cocina{
    width: 38.4rem;
}

}
