/**IMAGEN INICIAL EN HOME*/
body{
    max-width: 1920px;
    margin: auto;
}
.vector{
    width: 100%;
    height: auto;
    background-image: url(../img/Manchas\ 1\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.el-titulo{
    width: 50%;
    height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.la-img{
    width: 50%;
    height: 65rem;
    display: flex;
    padding-top: 4%;
    justify-content: center;
    align-items: center;
}
.titulo1{
    font-family: 'Fredoka One', cursive;
    font-size: 85px;
}
.cocina{
    width: 100%;
}

