/*estilo lipidos*/
.ImgTres{
width: 45rem;
height: 50rem;
margin-top: 10rem;
}
.para_video2{
    width: 100%;
    margin: auto;
    padding: 5%;
    background-image: url(../img/Group_58.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width:37.5rem){
    .ImgTres{
display: none;
    }
    .para_video2{
        margin-top: 6%;
        height: 100%;
        background-image: url("https://i.postimg.cc/PqkGSSFW/manchas-Amarillas.png");
        padding-bottom: 5rem;
        padding-top: 3rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
}