/*PAra OLLA */
#Olla {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    }
    .infofood{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 0.1rem;
    }
    /*Cuadro rojo*/
    .ventana{
    height: 25rem;
    width: 85rem;
    padding:1.3%;
    border-radius: 25px;  
    background-color: var(--rojo);
    box-shadow:0px 5px 10px -2px #6e6e6e;
    -moz-box-shadow:0px 5px 10px -2px #6e6e6e;
    -webkit-box-shadow:0px 5px 10px -2px #6e6e6e;
    display: flex;
    }
    /*Parte Blanca*/
    .ventana_barra{
        height: 60px;
        width: 100%;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: var(--blanco);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Contenido de cuadro rojo*/
    .izquierda{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    /*img de personaje*/
    .derecha{
    margin-left: -1.5rem;
    margin-top: -4rem;
    }

    .ventana_titulo{
    color: var(--blanco);
    font-size: 25px;
    text-align: justify;
    }
    .ventana_titulo1{
    color: black;
    font-family: Fredoka One;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
   
}
/*los otros dos cuadros*/
.dos_cuadros{
    width: 100%;
    height: auto;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}    
.padreFooter{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;  
}
/*amarillo*/
    .cuadro{
        width: 40rem;
        height: 30rem;
        left: 83px;        
        top: 2764px;
        border-radius: 25px;
        padding:1.5%;
       
        background-color: var(--amarillo);
        border-radius: 2rem 2rem 2rem 2rem;
        box-shadow:0px 5px 10px -2px #6e6e6e;
        -moz-box-shadow:0px 5px 10px -2px #6e6e6e;
        -webkit-box-shadow:0px 5px 10px -2px #6e6e6e;
   
    }
    .cuadro_barra{
        height: 60px;
        width: 100%;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: var(--blanco);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*verde*/
    .cuadrover{
        height: 30rem;
        width: 40rem;
        left: 718px;
        top: 2764px;
        border-radius: 25px;
        margin-left: 2%;
        padding: 4rem;

       
        background-color: var(--verde);
        border-radius: 2rem 2rem 2rem 2rem;
        box-shadow:0px 5px 10px -2px #6e6e6e;
        -moz-box-shadow:0px 5px 10px -2px #6e6e6e;
        -webkit-box-shadow:0px 5px 10px -2px #6e6e6e;
    }
    .cuadrover_titulo1{
        font-family: var(--titulo);
        font-size: 27px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
    }
    .cuadro_parrafo{
        font-size: 20px;
        text-align: justify;

    }
    .lista li{
    list-style: none;
        font-size: 25px;
        text-align: justify;
        font-family: 'Didact Gothic', sans-serif;

    }
    .chica{
        display: none;
    }
   
    @media only screen and (max-width:37.5rem) {
       
    #Olla{
        padding-top: 3rem;
    }
    .infofood{
        padding-top: 1rem;


    }
    .ventana{
        width: 21rem;
        height: 20rem;
        padding: 4%;
        border-radius: 15px;
        justify-content: center;

    }
    .ventana_barra{
        width: 100%;
        height: 30px;
        margin-top: 3%;
        text-align: center;
    }
    .ventana_titulo, .cuadro_parrafo{
        font-size: 14px;
        text-align: justify;
        }
    .ventana_titulo1{
        font-size: 16px;
    }
    .derecha{
        margin-left: -0.7rem;
        margin-top: 2.5rem;
    }
    .img_personaje{
        width: 13rem;
    }
    .cuadrover{
        display: none;
    }
    .cuadro{
        width: 90%;
        height: 17rem;
        border-radius: 15px;
        padding: 4%;

   
    }
    .padreFooter{
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }
    .cuadro_barra{
        width: 100%;
        height: 30px;
        margin-top: 2%;
        text-align: end;
    }
    .cuadrover_titulo1{
        font-size: 18px;
    }
    .abajo{
        width: 100%;
        height: auto;
        display: flex;
    }
    .cuadrover{
        height: 24rem;
        width: 27rem;
        border-radius: 15px;
        margin-top: 11%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }
    .chica{
        display: flex;
        margin-left: -5rem;
        margin-top: -1rem;
    }
    .lista li{
        width: 20rem;  
        font-size: 25px;
        margin-left: 1rem;    
}
    }

/** SIGUIENTE PARTE DE INFORMACIÓN POR YASMIN ANTONIO**/
.blancoArriba{
    width: 100%;
    height: 4rem;
    background-color: var(--blanco);
    border-radius: 0px 0px 40px 40px;
}
.blancoAbajo{
    width: 100%;
    height: 4rem;
    background-color: var(--blanco);
    border-radius: 40px 40px 0px 0px;
}
.title1{
    background-color: var(--celeste);
}
.title2{
    color: var(--blanco);
    font-family:  'Fredoka One', cursive;
    font-size: 6rem ;
    padding: 5rem;
    text-align: center;
}
.nutrientes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chico_sentado{
    width: 35%;
    padding-top: 5%;
}
.sentado{
    width: 130px;
    height: 252px;
    margin-left: 36rem;

}
.text{
    width: 37rem;
    height: auto;
    padding: 2rem;
    padding-top: 11rem;
    border-radius: 2rem;
    margin-top: -11rem;
    margin-left: 12rem;
    text-align: justify;
    font-family: var(--texto);
    font-size: 2rem;
    background-color: var(--naranja);
}
.las-graficas{
    width: 65%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grafica{
    width: 100%;
}
.listaG{
    width: 100%;
    height: 5rem;
    list-style: none;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vita {
    margin: 4rem;
}
.carboi{
    margin: 4rem;
}
.lip{
    margin: 4rem;
}
.protei{
    margin: 6rem;
}
.nota{
margin-top: 1%;
}
/** SECCIÓN DE VIDEOS POR YASMIN ANTONIO**/
.esencial{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-bottom: 6rem;
}
.caja-titulo{
    width: 100%;
    margin-top: 13rem;
    display: flex;
    justify-content: center;
}
.titleEsen{
    background-color: var(--celeste);
    width: 72rem;
    height: 18rem;
    font-size: 6rem;
    font-family: var(--titulo);
    padding: 2rem 7rem 7rem 10rem;
    border-radius: 2rem;
    color: var(--blanco);
    margin-left:3%;
}
.niña{
    width: 292px;
    height: 292px;
    margin-top: -7%;
    margin-left: -14%;  
}
.para_videos{
    width: 90%;
    height: auto;
    padding-bottom: 1%;
}
.carbohidratos{
    background-color: var(--verde);
    width: 580px;
    height: 244px;
    border-radius: 2rem;
    padding: 2rem;
    margin-left: 7rem;
    margin-top: 5rem;
}
.subtitle1{
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 30px;
    margin-top: 2.5rem;
    margin-left: 1rem;
    color: var(--blanco);
}
.descrip1{
    font-family: var(--texto);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.img1{
    width: 230px;
    height: 230px;
    margin-left: 32rem;
    margin-top: -20rem;
}
.mas1{
    background-color: var(--celeste);
    width: 20rem;
    height: 5rem;
    top: 3rem;
    margin-left: 2rem;
    padding: 1.5rem 6rem 1.5rem 6rem ;

    /**TEXTO**/
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    border-style: none;
    color: var(--blanco);
}
.lipidos{
    background-color: var(--naranja);
    width: 580px;
    height: 244px;
    border-radius: 2rem;
    padding: 2rem;
    margin-left: 68rem;
    margin-top: -24.5rem;
}

.proteinas{
    background-color: var(--amarillo);
    width: 580px;
    height: 244px;
    border-radius: 2rem;
    padding: 2rem;
    margin-left: 7rem;
    margin-top: 3rem;
}
.img2{
    width: 238px;
    height: 253px;
    margin-top: -2rem;
}
.subtitle2{
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 30px;
    margin-top: -22rem;
    margin-left: 38rem;
    color: var(--blanco);
}
.descrip2{
    font-family: var(--texto);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-top: 1rem;
    margin-left: -1rem;
    text-align: end;
}
.mas{
    background-color: var(--celeste);
    width: 20rem;
    height: 5rem;
    margin-top: -3rem;
    margin-left: 33rem;
    padding: 1.5rem 6rem 1.5rem 6rem ;

    /**TEXTO**/
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    border-style: none;
    color: var(--blanco); 
}
.vitaminas{
    background-color: var(--rojo);
    width: 580px;
    height: 244px;
    border-radius: 2rem;
    padding: 2rem;
    margin-left: 68rem;
    margin-top: -24.5rem;
}
