.Info_Pro{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.area{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Img1{
    width: 48rem;
}
.paraTexto{
    width: 50%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo{
    font-family: Fredoka One;
    font-size: 40px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.5%;

}
.parrafo{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25.2px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align:justify;

}