/*PAra footer*/
#infoOlla {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    }
    .infofood{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    }
    /*Cuadro rojo*/
    .ventana{
    height: 25rem;
    width: 85rem;
    padding:1.3%;
    border-radius: 25px;   
    background-color: var(--rojo);
    box-shadow:0px 5px 10px -2px #6e6e6e;
    -moz-box-shadow:0px 5px 10px -2px #6e6e6e;
    -webkit-box-shadow:0px 5px 10px -2px #6e6e6e;
    display: flex;
    }
    /*Parte Blanca*/
    .ventana_barra{
        height: 60px;
        width: 100%;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: var(--blanco);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Contenido de cuadro rojo*/
    .izquierda{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    /*img de personaje*/
    .derecha{
    margin-left: -1.5rem;
    margin-top: -4rem;
    }

    .ventana_titulo{
    color: var(--blanco);
    font-size: 25px;
    text-align: justify;
    }
    .ventana_titulo1{
    color: black;
    font-family: Fredoka One;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    
}
/*los otros dos cuadros*/
.dos_cuadros{
    width: 100%;
    height: auto;
    margin-bottom: 5rem;


}    
.padreFooter{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;   
}
/*amarillo*/
    .cuadro{
        height: 30rem;
        width: 40rem;
        left: 83px;
        top: 2764px;
        border-radius: 25px;
        padding:1.5%;
        
        background-color: var(--amarillo);
        border-radius: 2rem 2rem 2rem 2rem;
        box-shadow:0px 5px 10px -2px #6e6e6e;
        -moz-box-shadow:0px 5px 10px -2px #6e6e6e;
        -webkit-box-shadow:0px 5px 10px -2px #6e6e6e;
    
    }
    .cuadro_barra{
        height: 60px;
        width: 100%;
        margin-bottom: 5%;
        border-radius: 10px;
        background-color: var(--blanco);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*verde*/
    .cuadrover{
        height: 30rem;
        width: 40rem;
        left: 718px;
        top: 2764px;
        border-radius: 25px;
        margin-left: 2%;
        padding: 4rem;

        
        background-color: var(--verde);
        border-radius: 2rem 2rem 2rem 2rem;
        box-shadow:0px 5px 10px -2px #6e6e6e;
        -moz-box-shadow:0px 5px 10px -2px #6e6e6e;
        -webkit-box-shadow:0px 5px 10px -2px #6e6e6e;
    }
    .cuadrover_titulo1{
        font-family: Fredoka One;
        font-size: 27px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
    }
    .cuadro_parrafo{
        font-size: 20px;
        text-align: justify;
    }
    .lista li{
    list-style: none;
        font-size: 25px;
        text-align: justify;
    }
    .chica{
        display: none;
    }
    
    @media only screen and (max-width:37.5rem) {
        
    #infoOlla{
        padding-top: 3rem;
    }
    .infofood{
        padding-top: 1rem;


    }
    .ventana{
        width: 21rem;
        height: 20rem;
        padding: 4%;
        border-radius: 15px;
        justify-content: center;

    }
    .ventana_barra{
        width: 100%;
        height: 30px;
        margin-top: 3%;
        text-align: center;
    }
    .ventana_titulo, .cuadro_parrafo{
        font-size: 14px;
        text-align: justify;
        }
    .ventana_titulo1{
        font-size: 16px;
    }
    .derecha{
        margin-left: -0.7rem;
        margin-top: 2.5rem;
    }
    .img_personaje{
        width: 13rem;
    }
    .cuadrover{
        display: none;
    }
    .cuadro{
        width: 90%;
        height: 17rem;
        border-radius: 15px;
        padding: 4%;

    
    }
    .padreFooter{
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }
    .cuadro_barra{
        width: 100%;
        height: 30px;
        margin-top: 2%;
        text-align: end;
    }
    .cuadrover_titulo1{
        font-size: 18px;
    }
    .abajo{
        width: 100%;
        height: auto;
        display: flex;
    }
    .cuadrover{
        height: 24rem;
        width: 27rem;
        border-radius: 15px;
        margin-top: 11%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }
    .chica{
        display: flex;
        margin-left: -5rem;
        margin-top: -1rem;
    }
    .lista li{
        width: 20rem;   
        font-size: 25px; 
        margin-left: 1rem;    
}
    }