.alimentosP{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
   
}
.ConoceP{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloA{
    font-size: 63px;
    text-align: center;
    font-family: Fredoka One;

}
.InfoAlimento{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:3%;
}
.contenido_pro{
    width: 90rem;
    height: 50rem;
    border-radius: 25px;
    background-color: rgb(232, 208, 53); 

}