/*ESTA ES LA BASE DEL HEADER*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Didact Gothic', sans-serif;;
}
.header{
    width: 100%;
    height: auto;
}
.para_header{
    width: 100%;
    height: 50rem;
    padding: 16px; 
    display: flex;
    background-color: var(--amarillo);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_principal{
    width:97vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 73px;
    height: 73px;
}
.nav{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 1%;
}
.para_menu{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para_img{
    width: 30%;
}
.a{
    padding: 0px 16px ;
    color: #000000;
    
}

.a:hover{
    background-color: var(--blanco);
    border-radius: 2rem;
    padding: 10px 25px 10px 25px ;
    transition: 0.8s;
}
/*TITULO PROTEINAS*/
.titulo_proteina{
    width: 100%;
    height: auto;
    margin-bottom: 8%;
}
.tituloParaProteina{
    font-family: Fredoka One;
    font-size: 128px;
    font-weight: 400;
    line-height: 155px;
    letter-spacing: 0em;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--blanco);
}