*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.data-list{
width: 97%;
height: 20rem;
background-color: white;
display: flex;
flex-wrap: wrap;
overflow-y: scroll;
position: absolute;
margin-top: 60px;
border-radius: 15px;
padding: 0.5% 1%;

}
.bu{
width: 80%;
height: 3rem;
border: none;
outline: none;
}
.bu:focus{
  border: none;
}
.color{
  display: block;
	color: #353535;
  font-family: 'Didact Gothic', sans-serif;
	text-decoration: none;
}
.navegacion{
	width: 70%;
  height:6rem;
	margin: 30px auto;
  font-size: 27px;
  padding: 0.5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*icono*/
.lupa{
  width: 7rem;
}
.navegacion > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
  font-family: 'Didact Gothic', sans-serif;
	text-decoration: none;
  margin-bottom: 30rem;

}
.search{
  width: 97%;
  margin: auto;
  height: auto;
  font-size: 24px;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.ver{
  width:auto;
  padding: 0rem 3rem 0rem;
  height: auto;
}
.sub{
  width:auto;
  background-color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arribaCarbo, .arribali{
  background-color: white;
  margin-top: 1rem;
  padding: 15px;
  width: 100%;

}
.arribali{
  margin-top: 0rem;

}
.arribaCarbo:hover{
  background-color: rgb(229, 229, 229);
}
.arribali:hover{
  background-color: rgb(229, 229, 229);
}
.arriba3{
  background-color: white;
  border-radius: 0px;
  padding: 15px;
  width: 100%;

}
.arriba3:hover{
  background-color: rgb(229, 229, 229);
  border-radius: 0px;
}


@media (max-width:37.5rem) {

  .navegacion{
    width: 85%;
    height:4.5rem;
    margin-top: 0rem;
  }
  .lupa{
    width: 5.5rem;
  }

}