/*SUBMENU PARA CADA CATEGORIA*/
/*PARA CARBOHIDRATOS*/

.Opciones_de_Carb, .Opciones_de_Li{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: aqua;
}
/*+ID*/
.fondo02, .fondo03, .fondo04{
    width: 100%;
    height: 55rem;
    padding: 4rem;
    margin-top: 58%;
    position: absolute;
    display: none;
    
}
.negro{
    color: var(--negro);

}
.espacio1{
    width: 95%;
    height: 45rem;
    border-radius: 30px;
    background-color: white;
    padding-bottom: 2rem;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.621));
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.el2_titulo p{
    font-family: Fredoka One;
font-size: 30px;
font-weight: 400;
line-height: 77px;
letter-spacing: 0em;
text-align: center;
color: var(--negro);

}
.contieneImgCar{
width: 98%;
height: 88%;
flex-wrap: wrap;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
overflow-y: scroll;
}
.espacioI{
    margin: 1rem;

}
.cuadrodeImg{
    width: 17rem;
    height: 19rem;
    border-radius: 20px;
}