@media screen and  (max-width:136.5rem){
    .Info{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
<<<<<<< HEAD
        background-color: var(--blanco);
        margin-top: 30rem;
=======
>>>>>>> 48cd0f4859ad3eacaba710d8752722c65c4c951a
    }
    .area{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Img1{
        width: 48rem;
    }
    .paraTexto{
        width: 60%;
        padding: 4.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo{
        font-family: Fredoka One;
        font-size: 40px;
        font-weight: 400;
        line-height: 77px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1.5%;
    
    }
    .parrafo{
        font-family: Didact Gothic;
        font-size: 25.2px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0em;
        text-align:justify;
    
    }
    .largo{
        height: 70.5%;
        left: 0px;
        top: 1452px;
        border-radius: 0px;
    
    }
    .VectorAmarillo{
        width: 100%;
<<<<<<< HEAD
=======
        height: 60rem;
>>>>>>> 48cd0f4859ad3eacaba710d8752722c65c4c951a
    }
    .CuadroImg{
        width: 90%;
        height:54.5%;
        margin-top: 2%;
        padding: 0 2%;
        position: absolute;
        display:flex;
        flex-direction: row;
    }
    .ImgFrente{
<<<<<<< HEAD
        width: 60rem;
        height: 60rem;
    }
    .ImgFrente2{
        width: 60rem;
        height: 52rem;
=======
        width: 50%;
        height: 100%;
>>>>>>> 48cd0f4859ad3eacaba710d8752722c65c4c951a
    }
    .TextoEncima{
        position: absolute;
        width: 90%;
        font-size: 28px;
        height: auto;
        padding: 1.5%;
        margin: auto;
<<<<<<< HEAD
        margin-top: 58rem;
=======
        margin-top: 45rem;
>>>>>>> 48cd0f4859ad3eacaba710d8752722c65c4c951a
    }    
}