.alimentosC{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
   
}
.ConoceC{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloC{
    font-family:'Fredoka One', cursive;
    font-size: 64px;
    text-align: center;
}