.Info_Carbo{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.area2{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Img1{
    width: 48rem;
}
.paraTexto2{
    width: 50%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.paraTexto2 .titulo2{
    font-size: 43px;
}

.titulo2{
    font-family: Fredoka One;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.5%;

}
.parrafo2{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25.2px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align:justify;

}
.nutri2{
    display: none;
}

@media (max-width:37.5rem){

.Info_Carbo{
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0px  0px;
    background-color: var(--blanco);
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
    padding-top: 4rem;
}
.paraTexto2{
    width: 100%;
    margin-top: 4%;
    padding: 5%;
}
.paraTexto2 .titulo2{
    font-size: 24px;
}
.parrafo2{
    font-size: 17px;
}
.para_nutri{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nutri2{
    width: 85%;
    display: flex;
}


}